.sectionSendBtn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sendBtn{
    width:664px;
    height:40px;
    border: none;
    background-color: var(--dun);
    color: var(--coffee);
    font-family: Regular, sans-serif, sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    margin-top: 50px;
}

@media screen and (max-width: 576px){
    .sendBtn{
        width: 90vw;
    }
}