.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    z-index: 1050;
}
.navbar-ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 644px;
    height: 60px;
    border: 0.5px solid var(--dun);
    border-radius: 3px;
    backdrop-filter: blur(2rem) saturate(150%);
    position: relative;

    &::before {
        content: "";
        position: fixed;
        block-size: 0.125rem;
        inset-block-start: 0;
        inset-inline: 0;
        margin-block-end: -0.125rem;
        display: block;
        z-index: 50;
    }
}
.navbar-li{
    list-style: none;
}

.navBarIcon{

}