
.presentation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 75vw;
    margin-top: 20vh;
    margin-bottom: 20vh;

}
.presentationImg{
    display: flex;
    justify-content: center;
}

.presentationSetimg{
    height: 608px;
}

.presentation-text{
    flex-direction: column;
    font-family: ExtraLight, sans-serif;
    font-weight: 200;
    color: var(--dun);
}

.title{
    display: flex;
    font-family: Light, sans-serif;
    font-weight: 200;
    font-size: 6rem;
    color:var(--dun);
    width: 550px;
    margin-bottom: 5rem;

}

.presentationResearch{
    line-height: 200%;
}
.presentationResearchText{
    width: 600px;
    text-align: justify;
    margin: 5rem 0 0 0 ;
}




