.allSkills{
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap:wrap ;
    gap:5vw;
    margin-bottom: 5rem;
}

.boxSkills{
    width:350px;
    height:241px;
    border: 0.25px solid var(--dun);
    border-radius: 3px;
    box-shadow: 4px 4px 4px #000;
}

.skill-titles{
    margin: 0 0 1rem 1rem;
    color: var(--khaki);
    font-family: Light, sans-serif;
    font-weight: 400;

}
ul{
    margin: 2rem 0 0 4rem;
}