.allSkills{
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap:wrap ;
    gap:5vw;
}

.boxSkills{
    width:350px;
    height:241px;
    border: 0.25px solid var(--dun);
    border-radius: 3px;
    box-shadow: 4px 4px 4px #000;
}



h3{
    margin: 0 0 1rem 1rem;
    color: var(--khaki);
}

ul{
    margin: 2rem 0 0 4rem;
}