.course-title{
    margin-left: 5rem;
}
.courses{
    display: flex;
    flex-wrap: wrap;
    gap:30px;
    margin:0 auto;
    padding:0 30px;
    justify-content: space-around;
    align-items: center;
}
.btnCourse{
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
}
.jobName{
    font-family: ExtraLight, sans-serif;
    font-weight: 200;
    margin: 2rem 0 1rem 2rem;
}
.jobDate{
    margin:0 2rem ;
    font-family: ExtraLight, sans-serif;
    font-weight: 200;
}