
.presentation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 75vw;
    margin-top: 20vh;
    margin-bottom: 20vh;

}
.presentationImg{
    display: flex;
    justify-content: center;
}

.presentationSetimg{
    height: 608px;
}

.presentation-text{
    flex-direction: column;
    font-family: ExtraLight, sans-serif;
    font-weight: 200;
    color: var(--dun);
}

.title{
    display: flex;
    font-family: Light, sans-serif;
    font-weight: 200;
    font-size: 6rem;
    color:var(--dun);
    width: 550px;
    margin-bottom: 5rem;

}

.presentationResearch{
    line-height: 200%;
}
.presentationResearchText{
    width: 600px;
    min-width: 300px;
    text-align: justify;
    margin: 5rem 0 0 0 ;
}

@media screen and (max-width: 576px){
    .presentation{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .presentation-text{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .title{
        max-width: 546px;
        min-width: 300px;
        width: 300px;
        font-size: 4rem;
    }
    .presentationResearch{
        text-align: start;
    }
    .presentationResearchText{
        max-width: 546px;
        min-width: 300px;
        width: 300px;
    }
}



